@model CreateOrEditCtegoryViewModel

<div class="bg-slate-950 " style="height: max-content;" xmlns="">
    <div class="container   md:w-6/12 md:mx-auto  md:p-2">
        <form  asp-action="CreateOrEditCategory" asp-controller="Category" method="post" class="flex border-2 border-slate-600 lg:m-3 border-dotted flex-col lg:justify-between">
            <div class="flex flex-col items-center">
                <label class="p-3 text-white text-right w-full" asp-for="CategoryTitle" for=""></label>
                <input  asp-for="CategoryTitle" class="p-2 m-2 w-11/12 bg-slate-950 rounded border-2 border-slate-300 text-slate-300" type="text">
            </div>
            <div class="text-white">
                <partial  name="CategoriesCheckbox" for="Categories"/>
            </div>
            <div id="fields">
                <div class="field-item flex justify-between p-2 items-center">
                    <h1 id="fieldTitleSec" class="text-white">فیلد های مخصوص این دسته بندی</h1>
                    @* <input class="p-2 m-2 w-11/12 bg-slate-950 rounded border-2 border-slate-300 text-slate-300" type="text" asp-for="Fields.Fields[0].FieldTitle"> *@
                    @* <select class=" p-2 m-2 w-11/12 bg-slate-950 rounded border-2 border-slate-300 text-slate-300" asp-for="Fields.Fields[0].Type" id=""> *@
                    @*     @foreach (var type in Enum.GetNames<FieldType>()) *@
                    @*     { *@
                    @*          *@
                    @*         if (type.ToString() == "String") *@
                    @*         { *@
                    @*             <option value="@type.ToString()">متن</option> *@
                    @*         }else if (type.ToString() == "Money") *@
                    @*         { *@
                    @*             <option value="@type.ToString()">پول</option> *@
                    @*         }else if (type.ToString() == "Number") *@
                    @*         { *@
                    @*             <option value="@type.ToString()">عدد</option> *@
                    @*         } *@
                    @*         else if (type.ToString() == "DateTime") *@
                    @*         { *@
                    @*             <option value="@type.ToString()">تاریخ</option> *@
                    @*         } *@
                    @*          *@
                    @*     } *@
                    @* </select> *@

                    <button id="increase_btn" class="m-2 p-1 border-2 text-slate-300 hover:text-white border-slate-300 rounded hover:bg-slate-600 px-2" type="button">+</button>
                    @* <button id="decrease_btn" class="m-2 p-1 border-2 text-slate-300 hover:text-white border-slate-300 rounded hover:bg-slate-600 px-2"  type="button">-</button> *@
                </div>
            </div>

            <div class="flex flex-col items-center">
                <button class="hover:bg-slate-600 w-11/12 m-2 p-1 rounded border-2 text-slate-300 hover:text-white border-slate-300 ">افزودن یک دسته جدید</button>
            </div>
        </form>
    </div>
</div>
@section Scripts
{
    <script src="/js/AutomaticLists.js"></script>
    <script>
    let types = [
        "متن",
        "پول" ,
        "عدد",
        "تاریخ",
        
    ]
                function create(){
                    let fields= $("#fields")
                    let field = document.createElement("div")
                    $(field).addClass("field-item").addClass("flex")
                    $("#fields :last-child #increase_btn").remove()
                    let input=document.createElement("input")
                    $(input).addClass("p-2 m-2 w-11/12 bg-slate-950 rounded border-2 border-slate-300 text-slate-300")
                    $(input).attr("name","Fields.Fields["+(+($(fields).children().length)-1)+"].FieldTitle").attr("type","text")
                    $(field).append(input)
                    // Select Type
                     let select = document.createElement("select")
                     $(select).addClass("p-2 m-2 w-11/12 bg-slate-950 rounded border-2 border-slate-300 text-slate-300")
                    $(select).attr("name","Fields.Fields["+ (+($(fields).children().length)-1)+"].Type")
                    $(types).each((e)=>{
                        let option = document.createElement("option")
                        $(option).attr("value",e).text($(types)[e])
                        $(select).append(option)
                    })
                    $(field).append(select)
                    let increase_btn=document.createElement("button")
                    $(increase_btn).addClass("m-2 p-1 border-2 text-slate-300 hover:text-white border-slate-300 rounded hover:bg-slate-600 px-2")
                    $(increase_btn).text("+")
                    $(increase_btn).attr("type","button")
                    $(increase_btn).attr("id","increase_btn").click(create)
                    $(field).append(increase_btn)
                    let decrease_btn=document.createElement("button")
                    $(decrease_btn).addClass("m-2 p-1 border-2 text-slate-300 hover:text-white border-slate-300 rounded hover:bg-slate-600 px-2")
                    $(decrease_btn).text("-")
                    $(field).append(decrease_btn)
                    fields.append(field)
                    }
                $("#increase_btn").click(()=>{
                    create()
                })
                $("#decrease_btn").click(()=>{
                    alert("decrease")
                })
            </script>
}
